.days-list {
    height: 60px;
    display: flex;
    align-items: center;
}

.days-list-scroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 25px;
    border-radius: 12px;
    overflow-x: scroll;
    padding: 0;
}

.box-day-item {
    width: 65px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.day-list-item {
    list-style-type: none;
    background-color: #a80e60;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day-separator {
    width: 1px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

.day-title {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 12px;
}

.day-content {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.day-selected {
    list-style-type: none;
    background-color: #850a4b;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
