* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:root {
  --rose-500: #ff2298;
  --rose-900: #7A0745;
  --green-100: #9bf59b;
}